*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #1F232E;
}

header p{
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: #DDDDDD;
    padding-left: 6vh;
}
body{
    height: 100%;
}
main{
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #161920;
    flex-direction: column;
    text-align: center;
}

main h1{
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 2vh;
}


main h2{
    font-family: "Work Sans";
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
}

main span{
    font-family: "Work Sans";
    font-weight: 600;
}

.Lojas {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.steam{
    width: 594px;
    height: 656px;
    background-color: #1F232E;
    box-shadow: -1px 7px 11px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.epic{
    width: 594px;
    height: 656px;
    background-color: #1F232E;
    box-shadow: -1px 7px 11px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.containerSteam{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.containerEpic{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.textosSteam{
    width: 94%;
    padding-top: 2.5vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.textosEpic{
    width: 94%;
    padding-top: 2.5vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.textoIndividual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.textoIndividual p {
    max-width: 75%; /* Define um tamanho máximo para o texto */
    white-space: nowrap; /* Impede que o texto quebre linha */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a área */
    text-overflow: ellipsis; /* Adiciona "..." quando o texto for muito longo */
}

.priceSteam{
    display: flex;
    align-items: center;
}

.priceSteam span{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #AFAFAF;
    text-decoration: line-through;
    margin-right: 10px;
}

.priceSteam button{
    background-color: #BDBDBD; 
    height: 40px;
    width: 93px;
    font-family: "Roboto";
    font-size: 24px;
    border-radius: 5px; 
    border: none;
    text-align: center;
}

.priceEpic{
    display: flex;
    align-items: center;
}

.priceEpic span{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #AFAFAF;
    text-decoration: line-through;
    margin-right: 10px;
}

.priceEpic button{
    background-color: #F8F8F8; 
    height: 40px;
    width: 93px;
    font-family: "Roboto";
    font-size: 24px;
    border-radius: 5px; 
    border: none;
    text-align: center;
}

.textosSteam p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.textosEpic p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.logoSteam{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 107px;
    background-color: #BDBDBD;
    border-radius: 10px 10px 0 0;
}

.logoEpic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 107px;
    background-color: #F8F8F8;
    border-radius: 10px 10px 0 0;
}

hr{
    width: 87%;
    border: 2px solid;
    border-color: #666666;
    margin-top: 70px;
}

.botaoSteam {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botaoSteam button {
    font-family: "Roboto";
    font-size: 24px;
    background-color: #435073;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #777777;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.botaoEpic{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botaoEpic button {
    font-family: "Roboto";
    font-size: 24px;
    background-color: #202020;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #FFFFFF;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}
